/* Hidding the annoying horizontal scroll in Chrome */
body {
    overflow-x: hidden;
}

/* Setting scrollbar colors for Chrome  */
[data-theme='dark'] ::-webkit-scrollbar {
    background-color: #353535;
}
[data-theme='dark'] ::-webkit-scrollbar-thumb {
    background-color: #797979;
}
[data-theme='light'] ::-webkit-scrollbar-thumb {
    background-color: #CCC;
}
[data-theme='light'] ::-webkit-scrollbar {
    background-color: #EFEFEF;
}

/* Tweaks on Posts Page */
.yj-post .post-content .post-body h2 {
    padding-top: 1em;
    font-size: 1.4em;
}

.yj-post .post-content .post-body h3 {
    padding-top: 1em;
    font-size: 1.1em;
    font-style: italic;
}

.yj-post span.image-credit {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 13px;
}

/* Tweaks on Reading Logs Page */
.yj-reading-log h2 {
    font-style: italic;
}
